body {
  background: url("https://cdn.hipwallpaper.com/i/91/39/8Fg9vW.jpg") center
    center no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.input-group-recipe {
  border-radius: auto;
  justify-content: space-between;
}
.input-group-ingredient {
  border-radius: auto;
  justify-content: space-between;
}

#ingredient-input {
  size: 20px;
}

.jumbotron {
  position: sticky;
  width: 90%;
  height: 90%;
  vertical-align: middle;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: space-around;
  margin: 5%;
}
.row {
  justify-content: space-between;
}

/* created an ID for the title of the website and styled */
#title {
  color: black;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

/* created an ID for the instructions to the website and styled */
#intro {
  color: black;
  font-size: 30px;
  align-content: center;
  text-align: center;
}

#button-secondary {
  color: black;
}

#ingredient-submit {
  color: black;
}

.search-engine-container {
  margin-left: 10%;
}

#instruction-ingredient {
  width: 80%;
}

/* recipe results container aligns as needed for smaller screens */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
}

/* font size for Recipe Name  */
h3 {
  font-size: 16px;
}

/* recipe image size */
img {
  width: 185px;
  height: auto;
}

.display-results,
.nutrient-content {
  padding-top: 35px;
}

p {
  font-size: 16px;
}

/* MEDIA QUERY */
@media screen and (max-width: 550px) {
  #intro {
    flex-basis: auto;
    font-size: 25px;
  }
}

@media screen and (max-width: 490px) {
  #title {
    font-size: 35px;
  }
  #intro {
    font-size: 20px;
    flex-wrap: wrap;
  }
}
